<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="page-footer docs-footer amber accent-4" th:fragment="footer"><!--blue darken-4-->
    <!--<div class="container"> DESACTIVO PARA TENGA WEIGHT al 100%-->
        <!--<footer class="page-footer blue darken-4">&lt;!&ndash;orange&ndash;&gt;-->
            <div class="container">
                <div class="row">
                    <div class="col s12 m12">
                        <h5 class="white-text">DISNET</h5>
                        <p class="grey-text text-lighten-4 text-align-justify">DISNET project is being developed in the Medical Data Analytics Laboratory (MEDAL) at the <a class="orange-text text-lighten-3" target="_blank" href="http://www.ctb.upm.es">Centro de Tecnología Biomédica (CTB)</a>. CTB is part of <a class="orange-text text-lighten-3" target="_blank" href="http://www.upm.es">Universidad Politécnica de Madrid (UPM)</a>. If you have any inquiry please contact with the project leader: <a class="orange-text text-lighten-3" target="_blank" href="http://www.alejandrorg.com">Prof. Alejandro Rodríguez González</a>.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col l4 m4 s12">
                        <h6 class="white-text">Where we are</h6>
                        <p class="light grey-text text-lighten-4">
                        Centro de Tecnología Biomédica (CTB)<br/>
                        Campus de Montegancedo s/n<br/>
                        28223 Pozuelo de Alarcón<br/>
                        Madrid, Spain <a id="map_link" class="orange-text text-lighten-3" target="_blank" href="https://www.google.es/maps/place/CTB+(CTB-UPM)+Centro+de+Tecnolog%C3%ADa+Biom%C3%A9dica/@40.4068433,-3.8331393,18z/data=!4m2!3m1!1s0x0:0xc3dc1973a15c0dd">(view on map)</a>
                        </p>
                    </div>
                    <div class="col l3 m3 s12">
                        <h6 class="white-text">Results</h6>
                        <ul>
                            <li><a class="light white-text tooltipped" data-position="top" data-tooltip="Web Page temporarily disabled">Publications</a></li>
                            <li><a class="light white-text tooltipped" data-position="top" data-tooltip="Web Page temporarily disabled">Status</a></li>
                            <li><a class="light white-text tooltipped" data-position="top" data-tooltip="Web Page temporarily disabled">Visualization</a></li>
                        </ul>
                    </div>
                    <div class="col l3 m3 s12">
                        <h6 class="white-text">Support</h6>
                        <ul>
                            <li><a class="light white-text tooltipped" data-position="top" data-tooltip="Web Page temporarily disabled">Contact DISNET</a></li>
                        </ul>
                    </div>
                    <div class="col l2 m2 s12">
                        <h6 class="white-text">About</h6>
                        <ul>
                            <li><a class="light white-text tooltipped" data-position="top" data-tooltip="Team DISNET">Team</a></li>
                            <li><a class="light white-text tooltipped" data-position="top" data-tooltip="About DISNET">DISNET</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container grey-text text-lighten-4">
                    <div class="row">
                        <div class="col s10 m10 l10 left-align">
                            2018 <span class="orange-text text-lighten-3" style="color: orange;">DISNET Project</span>
                        </div>
                        <div class="col s1 m1 l1 right-align">
                            <a class="tooltipped orange-text text-lighten-3" data-position="top" data-tooltip="Web Page temporarily disabled">Terms</a>
                        </div>
                        <div class="col s1 m1 l1 right-align">
                            <a class="tooltipped orange-text text-lighten-3" data-position="top" data-tooltip="Web Page temporarily disabled">Privacy</a>
                        </div>
                    </div>
                </div>
            </div>
        <!--</footer>-->
    <!--</div> DESACTIVO PARA TENGA WEIGHT al 100%-->
</footer>
</body>
</html>